@import "tailwindcss";

@theme {
	--color-brand-light: #fbfbfc;
	--color-brand-dark: #262322;
	--color-brand-surface: rgba(255, 255, 255, 0.7);

	--color-accent-pink: #ed5a80;
	--color-accent-blue: #0ca5e9;

	--color-slate-850: #262322;
	--color-slate-500: #8c8c8c;

	--radius-pill: 100px;
	--radius-journey: 24px;

	--shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.03);
	--shadow-active: 0 10px 25px -5px rgba(38, 35, 34, 0.2);
    --font-inter: 
}

@layer base {
	body {
		@apply bg-brand-light text-slate-850 antialiased;
		font-family: "Inter", sans-serif;
	}

	h1,
	h2,
	h3,
	.font-display {
		@apply text-slate-850;
		font-family: "Plus Jakarta Sans", sans-serif;
	}
}

.glass-card {
	@apply bg-brand-surface border border-white/50 shadow-soft backdrop-blur-md rounded-journey;
}

.gradient-pink-soft {
	background: radial-gradient(
		circle at top right,
		rgba(237, 90, 128, 0.1),
		rgba(251, 251, 252, 0.7)
	);
}

.gradient-blue-soft {
	background: radial-gradient(
		circle at top right,
		rgba(12, 165, 233, 0.1),
		rgba(251, 251, 252, 0.7)
	);
}

.gradient-error-soft {
	background: radial-gradient(
		circle at top right,
		rgba(245, 158, 11, 0.18),
		rgba(251, 251, 252, 0.7)
	);
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}
